[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
pymongo = "*"
flask = "*"
jsonschema = "*"
graphene = "*"
graphql-core = "*"
flask-graphql = "*"

[requires]
python_version = "3.7"
